.body{
    position: fixed;
}

.navbar-colour{
    background-color: hsla(39, 30%, 58%, 0.906);

}
.nav-link{
    font-size: 20px;
}
.nav-item a:hover{
    color:rgb(218, 122, 186);
    font-weight: 700;
}
.banner{
    background-image: url(img/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 17rem;
}
.col{
    font-size: 30px;
}
.border{
    background-color: crimson;
    padding-left: 120px;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}
.intro{
    margin-top: 30px;
}

.intro-part{
    margin-top: 220px;
    
}
.h1,h1{
    font-size: 2.5rem;
}

.middle{
    
    margin-top: 250px;
}
.banner2{
    background-image: url(img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 17rem;
}
.head{
    font-size: 50px;
}

.card-h1{
    text-align: center;
    font-size: 60px;
}
.card-text{
color: crimson;
text-align: center;
font-size: 21px;
}
.card-title{
font-size: 2.1rem;
text-align: center;
}
.last{
    background-color: darkgray;
    height: 700px;
    width: 1900px;
    position: absolute;
}
.last-part{
    background-color: rgb(248, 247, 245);
    height: 300px;
    width: 1300px;
   padding-left: 30px;

}
.rev{
    border-radius: 50%;
    
}
.rev-info{
    font-size: 40px;
    padding-left: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
